.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.profilePage {
  width: 100%;
  max-width: 900px;
  min-width: 320px;
  border-right: 2px solid var(--twitter-background);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 50px;
  max-height: 90vh;
  scroll-behavior: smooth;
  background: white;
  border-radius: 8px;
}

.profilePage::-webkit-scrollbar {
  display: none;
}

.pageTitle {
  color: var(--twitter-color);
  text-align: center;
  font-size: 28px;
  margin: 20px 0;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 20px;
    overflow-x: hidden;
  }

  .profilePage {
    padding: 20px;
    border-right: none;
    width: 100%;
    max-width: 600px;
    min-width: auto;
    max-height: 90vh;
  }

  .pageTitle {
    font-size: 22px;
    text-align: center;
    margin: 16px 0;
  }
}

@media screen and (max-width: 480px) {
  .page {
    padding: 10px;
    overflow-x: hidden;
  }

  .profilePage {
    padding: 15px;
    max-width: 100%;
    border-right: none;
    max-height: 90vh;
  }

  .pageTitle {
    font-size: 20px;
  }
}
